<!doctype html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<link href="public/css/vendor/bootstrap.min.css" rel="stylesheet">
  	<title>Runners Tracker</title>
</head>
<body class='admin' ng-app="runApp" ng-controller="adminController">
  <div class="container p-2">
        	<form novalidate class="add-runner">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Competition</label>
              <select class="col-sm-6 form-control" ng-options="comp.name for comp in comps track by comp._id" ng-change="set_current(current_comp)" ng-model="current_comp"></select>
              <small class="col-sm-4" class="form-text text-muted">{{ current_comp._id }}</small>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">BID</label>
              <label class="col-sm-4" ng-show="new_runner.rssi" ng-init="No New BID in range">{{ new_runner.bid }}</label>
            </div>
            <div class="form-group row" ng-show="new_runner.rssi">
              <div class="col-sm-8">
                <div class="w-100 progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ new_runner.rssi }}" aria-valuemin="-100" aria-valuemax="0" style="width: {{ 100 + new_runner.rssi }}%"></div>
                </div>
              </div>
              <label class="col-sm-4">RSSI: {{ new_runner.rssi }}</label>
            </div>
            <div class="bid_found" ng-show="new_runner.rssi">
              <div class="form-group row">
                <label class="col-sm-2">Team</label>
                <select class="col-sm-6 form-control" ng-options="team.name for team in teamss track by team._id" ng-model="runner.team_id"></select>
                <span class="col-sm-4" ng-show=team._id>{{ team._id }}</span>
              </div>
              <div class="form-group row">
                <label class="col-sm-2">Name</label>
                <input class="col-sm-6 form-control" type="text" ng-model="new_runner.name"/>
              </div>
              <button type="submit" class="btn btn-primary" ng-click="add(new_runner)">Submit</button>
            </div>
          </form>
          <p>{{ message }}</p>
        </div>
      </div>
      <div class="row">
         <div class="col p-2">
           <ul class="list-group">
            <li class="list-group-item" ng-repeat="runner in runners">
              <h5 class="m-1">{{ runner.name }}</h5>
              <small>{{ runner.bid }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <script src="public/js/vendor/jquery-3.1.1.slim.min.js"></script>
  <script src="public/js/vendor/tether.min.js"></script>
  <script src="public/js/vendor/bootstrap.min.js"></script>
  <script src="public/js/vendor/angular.min.js"></script>
  <script src="public/js/app.js"></script>
</body>
</html>
