<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/public/css/vendor/bootstrap.min.css" rel="stylesheet">
  <title>Runners Tracker</title>
</head>

<body class='teams' ng-app="runApp" ng-controller="teamController">
  <div class="container p-2">
    <form novalidate class="add-team">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Team name</label>
        <input class="col-sm-6 form-control" type="text" ng-model="new_team.name" />
        <button type="submit" class="btn btn-primary col-sm-2 ml-3" ng-click="add(new_team)">Add Team</button>
      </div>
      <div class="form-group row">

      </div>
    </form>
    <div class="row">
      <div class="col p-2">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="team in teams">
            <h5 class="m-1">{{ team.name }}</h5>
          </li>
        </ul>
      </div>
    </div>
    <a class="btn btn-outline-primary m-2" href="/admin" role="button">Back to Admin</a>
  </div>

  <script src="/public/js/vendor/jquery-3.1.1.slim.min.js"></script>
  <script src="/public/js/vendor/tether.min.js"></script>
  <script src="/public/js/vendor/bootstrap.min.js"></script>
  <script src="/public/js/vendor/angular.min.js"></script>
  <script src="/public/js/app.js"></script>
</body>

</html>
